﻿﻿@{
    ViewBag.Title = "Успешный сброс пароля!";
}

<h2>@ViewBag.Title.</h2>

<p>
    Через <span id="resultsRedirectJSReset" style="color:white; font-size:large"><b>3</b></span> секунды произойдет перенаправление . . .
</p>
<p>
    Ваш пароль был сброшен. @Html.ActionLink("Нажмите, чтобы войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>

<script>
    var i = 2;
    var timeToRedirect = setInterval(function () {
        document.getElementById('resultsRedirectJSReset').innerHTML = i--;
        if (i == -1) {
            clearInterval(timeToRedirect);
            $(location).attr('href', "/Home/Index");
        };
    }, 1000)
</script>