﻿@font-face {
	font-family: Lobster-Regular;
	src: url('fonts/Lobster-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "YanoneKaffeesatzRegular";
    src: url("../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.eot");
    src: url("../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.woff") format("woff"),
    url("../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "YanoneKaffeesatzBold";
    src: url("../fonts/YanoneKaffeesatzBold/YanoneKaffeesatzBold.eot");
    src: url("../fonts/YanoneKaffeesatzBold/YanoneKaffeesatzBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/YanoneKaffeesatzBold/YanoneKaffeesatzBold.woff") format("woff"),
    url("../fonts/YanoneKaffeesatzBold/YanoneKaffeesatzBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "YanoneKaffeesatzLight";
    src: url("../fonts/YanoneKaffeesatzLight/YanoneKaffeesatzLight.eot");
    src: url("../fonts/YanoneKaffeesatzLight/YanoneKaffeesatzLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/YanoneKaffeesatzLight/YanoneKaffeesatzLight.woff") format("woff"),
    url("../fonts/YanoneKaffeesatzLight/YanoneKaffeesatzLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "YanoneKaffeesatzExtraLight";
    src: url("../fonts/YanoneKaffeesatzExtraLight/YanoneKaffeesatzExtraLight.eot");
    src: url("../fonts/YanoneKaffeesatzExtraLight/YanoneKaffeesatzExtraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/YanoneKaffeesatzExtraLight/YanoneKaffeesatzExtraLight.woff") format("woff"),
    url("../fonts/YanoneKaffeesatzExtraLight/YanoneKaffeesatzExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: Lobster-Regular;
    src: url("../fonts/Lobster-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*скролл бар и осн настройки*/
html, body{
  height: 100%;
  min-height: 100%
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: radial-gradient(ellipse at bottom, #638ec1 0%, #3899be 100%);
    background: url(Images/fone.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Современные браузеры */
}

/* SCROLL*/
#mCSB_1_scrollbar_vertical { /*сам скролл*/
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 0px;
}/*по дефолту : 30 !!!!*/