﻿#dock-container {
    /*z-index:100;*/
    /*position: fixed;*/
    bottom: 0;
    text-align: center;
  /* right: 20%;
    left: 20%;
    width: 60%;*/
    background: rgba(209, 205, 205, 0.37);
    border-radius: 0 10px 10px 0;
}
#dock-container ul{
    padding:0;
}
#dock-container li {
    list-style-type: none;
    display: block;
    position: relative;
    margin:2em;
}
#dock-container li img {
    width: 64px;
    height: 64px;
   /* -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255,255,255,.5)));*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%; 50% 50%; 00% 50%;
    -ms-transform-origin: 50% 50%; 50% 50%; 50% 50%; 50% 50%; 50% 50%;
    -o-transform-origin: 50% 50%; 50% 50%; 00% 50%;
    transform-origin: 50% 50%;
}
    #dock-container li:hover img {
        -webkit-transform: scale(1.8);
        -moz-transform: scale(1.8);
        -ms-transform: scale(1.8);
        -o-transform: scale(1.8);
        transform: scale(1.8);
        margin: 2em 0;
    }
/*
#dock-container li:hover + li img, #dock-container li.prev img {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    margin: 0 1.5em;
}
    */


#dock-container li span {
    display: none;
    position: absolute;
    bottom: 46px;
    left: -128px;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    padding: 4px 0;
    border-radius: 12px;
}
#dock-container li:hover span {
    display: block;
    color: #fff;
}