﻿.loading-panel-wrap {
    position: absolute;
    top: 20%;
    width: 200px;
    transform-origin: center center center;
    transform: translate(0%, 0%);
    transition:all 0.2s ease;
}

.loading-panel-wrap:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}
.loading-panel {
    opacity:0;
    
    transition: box-shadow .5s ease, transform .2s ease; 
    will-change: transform;
    animation:bounce1 2s 1s ease-in-out 1, bounce2 4s 3s ease infinite;
    animation-fill-mode:forwards;
}
@-webkit-keyframes bounce1 {
    0% {
        transform: translateY(-550px);
        opacity: 0.1;
    }
    60% {
        transform: translateY(120px);
        opacity: 0.9;
    }
    100% {
        transform: translateY(-20px);
        opacity: 1;
    }
}
@-moz-keyframes bounce1 {  
    0% {
    transform: translateY(-550px);
    opacity:0.1;
    }
    60%{
    transform: translateY(120px);
    opacity:0.9
    }
    100% {
    transform: translateY(-20px);
    opacity:1
    }
}
@keyframes bounce1 {  
  0% {
    transform: translateY(-550px);
    opacity:0.1;
  }
  60%{
    transform: translateY(120px);
    opacity:0.9
  }
   100% {
    transform: translateY(-20px);
    opacity:1
  }
}

@-webkit-keyframes bounce2 {  
  0% {
    transform: translateY(-20px);
  }
    50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@-moz-keyframes bounce2 {  
  0% {
    transform: translateY(-20px);
  }
    50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes bounce2 {  
  0% {
    transform: translateY(-20px);
  }
    50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.shadow {
    position: absolute;
    width: 175px;
    height: 20px;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50%;
    background-color: #464646;
    opacity: 0;
    
    transform-origin: -50% -50%;
    animation: 4s 3s pulsate ease infinite;
}

@-webkit-keyframes pulsate {
    50% {
        transform: scale(0.5);
        opacity: 0.2;
    }
    
    100% {
        opacity: 0;
    }
}
@-moz-keyframes pulsate {
    50% {
        transform: scale(0.5);
        opacity: 0.2;
    }
    
    100% {
        opacity: 0;
    }
}
@keyframes pulsate {
    50% {
        transform: scale(0.5);
        opacity: 0.2;
    }
    
    100% {
        opacity: 0;
    }
}

/*корзина и логин*/
.loading-panel-wrap_Cart_logIn {
    position: absolute;
    transform-origin: center center center;
    transform: translate(0%, 0%);
    width: 70px;
    transition:all 0.2s ease;
}
.loading-panel-wrap_Cart_logIn:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}
.loading-panel_Cart_logIn {
    opacity:0;
    will-change: transform;
    animation:bounce_cart_login 2s 0.5s ease-in-out 1;
    animation-fill-mode:forwards;
}

@keyframes bounce_cart_login {  
  0% {
    transform: translateY(-550px);
    opacity:0.1;
  }
  100%{
    transform: translateY(10px);
    opacity:1
  }
}

/*некликабельная ссылка корзины*/
img.disabled-link {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}

/*NEW*/

.AvatarHasExit_LogOut_none:hover div#myDiv{
    display:none;
}

.AvatarHasExit_LogOut_none div div{
    display:none;
}
.AvatarHasExit_LogOut_none:hover div div{
    display: block;
    cursor: pointer;
}
