﻿@using NoteBookStore.WebUI.Models

@model UrlView

@{
    ViewBag.Title = "Log In | Sign Up";
}

<div class="myBox">
    @Html.Partial("~/Views/Account/LoginRegister/Login.cshtml", new LoginModel())
</div>
<div class="myBox">
    @Html.Partial("~/Views/Account/LoginRegister/Register.cshtml", new RegisterModel())
</div>

@Html.HiddenFor(l => l.UrlAddress) 