﻿@model NoteBookStore.WebUI.Models.LoginModel

@{
    ViewBag.Title = "Log In";
}

@using (Ajax.BeginForm("Login", "Account", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "myLoginForm" }, new { id = "myLoginForm", @class = "formMargin" }))
{
    <h2>@ViewBag.Title</h2>
    @Html.AntiForgeryToken()

    <div class="textBoxWithValidMessage">
        <div class="boxInLine">
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "input-text", type = "text", placeholder = "Введите Email" })
                <input type="reset" class="btnClearText" value="X">
            </div>
        </div>
        <div class="myValidationMessageFor">
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="textBoxWithValidMessage">
        <div class="boxInLine">
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "input-text", placeholder = "Введите Пароль" })
                <input type="reset" class="btnClearText" value="X">
            </div>
        </div>
        <div class="myValidationMessageFor">
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>

    <div class="boxInLine" style="margin-bottom:0px;">
        <input id="input_LogIn" type="submit" class="myBtn myBtnLogInSignUp" style="width:177.5px; border-radius: 0 0 0 30px;" value="LOG IN" />
        @Html.ActionLink("VK", "VKAuthCode", "Account", new { id = "input_LogInVK", @class = "myBtn myBtnVK" })
    </div>

    @Html.ActionLink("forgot password?", "PasswordForgot", "Account", new { @class = "PasswordForgot" })

    <div class="classForValidationSummary">
        @Html.ValidationSummary(true)
    </div>
}

@*
    <script>
        $('#input_LogInVK').on("click", function (e) {
            e.preventDefault();
            var backUrlLink = $('#UrlAddress').val();
            //alert(backUrlLink);

            var url = '/Account/VKAuthCode?backUrlLink=' + backUrlLink;
            window.location.href = url;
        });
    </script>
*@