﻿@model NoteBookStore.WebUI.Models.RegisterModel

@{
    ViewBag.Title = "Sign Up";
}

@using(Ajax.BeginForm("Register", "Account", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "myRegisterForm" }, new { id = "myRegisterForm", @class = "formMargin" }))
{
    <h2>@ViewBag.Title</h2>
    @Html.AntiForgeryToken()

    <div class="textBoxWithValidMessage">
        <div class="boxInLine">
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "input-text", placeholder = "Введите E-mail" })
                <input type="reset" class="btnClearText" value="X">
            </div>
        </div>
        <div class="myValidationMessageFor">
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="textBoxWithValidMessage">
        <div class="boxInLine">
            <div>
                @Html.TextBoxFor(m => m.MyUserName, new { @class = "input-text", placeholder = "Введите MyUserName", Value = "" })
                <input type="reset" class="btnClearText" value="X">
            </div>
        </div>
        <div class="myValidationMessageFor">
            @Html.ValidationMessageFor(m => m.MyUserName)
        </div>
    </div>

    <div class="textBoxWithValidMessage">
        <div class="boxInLine">
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "input-text", placeholder = "Введите Пароль" })
                <input type="reset" class="btnClearText" value="X">
            </div>
        </div>
        <div class="myValidationMessageFor">
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>

    <div class="textBoxWithValidMessage">
        <div class="boxInLine">
            <div>
                @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "input-text", placeholder = "Подтвердите пароль" })
                <input type="reset" class="btnClearText" value="X">
            </div>
        </div>
        <div class="myValidationMessageFor">
            @Html.ValidationMessageFor(m => m.PasswordConfirm)
        </div>
    </div>

    <input id="input_SingUp" type="submit" class="myBtn myBtnLogInSignUp" value="SIGN UP"/>

    <div class="classForValidationSummary">
        @Html.ValidationSummary(true)
        @Html.ValidationMessage("DontCreateUser")
    </div>
}
