﻿@model NoteBookStore.WebUI.Models.NoteBooksListViewModel

@{
    ViewBag.Title = "Ноуты";
}

<div class="container-fluid" style="margin-left:15px;">
    <div class="row">
        <div class="col-xs-12" style="text-align:center;margin-bottom:25px;">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", "NoteBook", new { page = x, category = Model.CurrentCategory })) @*page = x = 1 - берется с маршрутов(самый первый)!!!*@
        </div>
        <div class="col-xs-12">
            @foreach (var n in @Model.NoteBooks)
            {
                @Html.Partial("NoteBookSummary", n)
            }
        </div>
    </div>
</div>
