﻿<h2>Ошибка отправки письма</h2>

<div style="text-align:left; color:white; font-size:8px;font-size:smaller">
    <span>Причины:</span>
    <br />
    <span>
        1. Email не существует.
    </span>
    <br />
    <span>
        2. На сервере сработала СПАМ - защита.
    </span>
    <br />
    <span>Что делать?</span>
    <br />
    <span>
        1. Ввести корректрынй адрес.
    </span>
    <br />
    <span>
        2. Повторить позже.
    </span>
    <br />
    <span>
        @Html.ActionLink("Вернуться", "Register", "Account", new { id = "input_ReturnBackUrl_ShowEmail" })
    </span>
    <br />
    <div style="text-align:left;">
        <h4>@Html.ActionLink("На главную", "Index", "Home")</h4>
    </div>
</div>