﻿<h2 style="margin-left:0px;">Успех!</h2>

<div style="text-align:left; color:white; font-size:smaller; margin-left:0px;">
    <div>
        Перенаправление через: <span id="resultsRedirectJSConfirm" style="color:#4cff00; font-size:smaller"><b>5</b></span>
    </div>
    <div>
        <b style="color:white;">@Html.ActionLink("Нажмите", "Index", "Home")</b>
    </div>
</div>

<script>
    var i = 5;
    var timeToRedirect = setInterval(function () {
        document.getElementById('resultsRedirectJSConfirm').innerHTML = i--;
        if (i == -1) {
            clearInterval(timeToRedirect);
            $(location).attr('href', "/Home/Index");
        };
    }, 1000)
</script>
