﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>НоутStore</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="\Content\Images\favicon_notebook.ico" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery.unobtrusive-ajax")
    @Scripts.Render("~/bundles/jquery_ui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/MyJS")
    @Scripts.Render("~/bundles/mCustomScrollbar")

    @Styles.Render("~/Content/css_bootstrap")
    @Styles.Render("~/Content/css_MyCssMarkUp")
    @Styles.Render("~/Content/css_mCustomScrollbar")

</head>
<body>
    <div class="container-fluid" style="margin:2rem;">
        <div class="row flex-items-xs-center">
            <div class="col-xs-12" style="text-align:center;">
                <div style="display:inline-block; position:relative;">
                    <img src="~/Content/Images/NoteBookStore_main3.png" width="700" style="opacity:0.95;"> @*<a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/NoteBookStore_main3.png" width="500" height="500" style="opacity:0.95;"></a>*@
                    <div style="text-align:center; width:100%; left:10%; top:24%; position:absolute;">
                        <div style="display:inline-block;width:50%;">
                            @Html.Action("Menu", "Nav")
                        </div>
                    </div>
                    <div style="top:18%; left:15%; position:absolute;">
                        <div id="dock-container" style="display:inline-block;">@*width:60%;*@
                            <div id="dock">
                                <ul>
                                    <li>
                                        <span>Вход</span>
                                        @*<a href="#"><img src="Content/Images/DocPanel/img/1.png" /></a>*@
                                        @{
                                            if (HttpContext.Current.User.Identity.IsAuthenticated)
                                            {
                                                <a href="@Url.Action("LogOut", "Account", new { pathView = Request.Url.PathAndQuery })" style="width: 60px; height: 60px;">
                                                    @*<img src="~/Content/Images/spaceLogIn_empty.png" style="opacity:0.8;width: 60px; height: 60px;" alt="Пример">*@
                                                    <div class="AvatarHasExit_LogOut_none" style="position:relative;">
                                                        <img src="~/Content/Images/spaceLogIn_empty.png" style="opacity:0.8;width: 60px; height: 60px;" alt="Пример">

                                                        <div id="myDiv"style="top:20.1%; left:1%; position:absolute;">
                                                            <img alt="Avatar" style="opacity:0.95; border-radius:50px; width:56%; height:56%;" src="@Html.returnAvatarPath(HttpContext.Current.User)" />
                                                        </div>

                                                        <div class="" style="top:10%; left:0%; position:absolute;">
                                                            <div>
                                                                <img alt="Avatar" style="border-radius:50px;opacity:0.6; width:60%; height:60%;" src="~/Content/Images/X.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("LoginRegister", "Account",  new { pathView = Request.Url.PathAndQuery })">
                                                    <img src="~/Content/Images/spaceLogIn.png" width="60" height="60" style="opacity:0.8;" alt="Пример"> @*@Html.ActionLink("LOG IN SIGN UP", new { pathView = Request.Url.PathAndQuery }, new { })*@
                                                </a>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <span>Корзина</span>
                                        @*<a href="#"><img src="~/Content/Images/spaceCart_empty.png" /></a>*@
                                        @Html.Action("Summary", "Cart")

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           @* <div class="col-xs-12;">
                @Html.Action("Summary", "Cart")
            </div>*@
        </div>
    </div>

    @RenderBody()

    <script>
         @*scroll*@
        (function ($) {
            $(window).on("load", function () {
                $("body").mCustomScrollbar({
                    setWidth: "100%",
                    setHeight: "100%",
                });
            });
        })(jQuery);
        $('.body').css('height', ($('.contentContainer').height()).mCustomScrollbar('update'));/* https://github.com/malihu/malihu-custom-scrollbar-plugin/issues/68 */
    </script>

    @*выпод подпункта dropdows lista, заменяет текущее имя*@
    <script type="text/javascript">
        $(".dropdown-menu li a").click(function(){
          $(this).parents(".dropdown").find('a:first').html($(this).text() + ' <span class="caret"></span>');
        });
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
