﻿@model NoteBookStore.Domain.Entities.NoteBook

<div class="card" style="position:relative; max-height:600px; height:300px; width: 300px; background-color:rgba(23, 129, 129, 0.88); display:inline-block;">
    <img src="~/Content/Images/notebook1.png" width="150" height="150" alt="Card image">
    <div class="card-block">
        <p class="card-text" style="height:100px;overflow:hidden;">@Model.Description</p>
    </div>

    <div style="display:block; position:absolute; top:0; right:0;text-align:right;">
        <h3 style="font:3rem Helvetica; color:#00ff90;">@Model.Name</h3>
        <h7 style="color:chartreuse">@Model.Price.ToString("# руб")</h7>
    </div>

    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Get, new { @class = "card-text" }))
    {
        @Html.HiddenFor(x => x.NoteBookId)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <div style="display:block; position:absolute; bottom:0; right:0;">
            <input type="submit" class="btn btn-success btn-sm" value="Купить" />
        </div>
    }
</div>

@*
<h3 class="card-title" style="font:3rem Helvetica; color:#00ff90;text-align:right;">@Model.Name</h3>
    <div class="card-subtitle text-muted">
        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Get, new { @class = "card-text" }))
        {
            @Html.HiddenFor(x => x.NoteBookId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <div style="display:block; position:absolute; top:0; left:0;">
                <input type="submit" class="btn btn-success btn-sm" value="Купить" />
            </div>
            <div style="display:block;position:absolute; top:0;right:0;">
                <h7>@Model.Price.ToString("# руб")</h7>
            </div>
        }
    </div>
*@