﻿@model NoteBookStore.WebUI.Models.CartIndexViewModel

@{ 
    ViewBag.Title = "НоутStore: Корзина покупок";
}

<div id="listItems_InLine">

    <h2>Корзина покупок</h2>

    <table id="cartTable" class="table">
        <thead>
            <tr>
                <th>Кол-во</th>
                <th>Ноутбук</th>
                <th class="text-right">Цена</th>
                <th class="text-right">Общая цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.NoteBook.Name</td>
                    <td class="text-right">@line.NoteBook.Price.ToString("# руб")</td>
                    <td class="text-right">@((line.Quantity * line.NoteBook.Price).ToString("# руб"))</td>
                    <td>
                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                        {
                            @*Для создания скрытого поля для свойства ReturnUrl модели Html.HiddenFor(),
                            но чтобы сделать то же самое для поля noteBookId, должен применяться строковый вспомогательный метод Html.Hidden().
                            Если записать Html.HiddenFor(x => line.NoteBook.NoteBookId),
                            то вспомогательный метод визуализирует скрытое поле с именем line.NoteBook.NoteBookId. <- будет такой текст!!! а нужено конкретное значение int!
                            Имя этого поля не будет соответствовать именам параметров метода действия CartController.RemoveFromCart(),
                            поэтому стандартные связыватели модели не сработают, a MVC Framework не сможет вызвать упомянутый метод действия.*@
                            @Html.Hidden("noteBookId", line.NoteBook.NoteBookId)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <div class="inner-addon left-addon">
                                <span class="glyphicon glyphicon-remove"></span>
                                <input type="submit" class="form-control btn btn-sm btn-danger" style="padding-left:0px; min-width:35px; width:35px;" value=""/>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Всего:</td>
                <td class="text-right">
                    @Model.Cart.ComputeTotalValue().ToString("# руб")
                </td>
                <td>
                    @using (Html.BeginForm("RemoveAllFromCart", "Cart"))
                    {
                        <div class="inner-addon left-addon" style="left:0px;">
                            @Html.Hidden("returnUrl", @Model.ReturnUrl)
                            <span class="glyphicon glyphicon-trash" style="left:0px;"></span>
                            <input type="submit" class="btn btn-danger" style="padding-left:0px; min-width:35px; width:35px; min-height:34px; height:34px;" value="" />
                        </div>
                    }
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    </div>
</div>