﻿@model NoteBookStore.Domain.Entities.Cart

@*Это представление отображает количество элементов в корзине, общую их стоимость и ссылку для вывода пользователю детальных сведений о корзине *@
@{
    if (Model.Lines.Sum(p => p.Quantity) == 0)
    {
        <a href="#">
            @*style="width: 70px; height: 70px;"*@
        <img src="~/Content/Images/spaceCart_empty.png" width="60" height="60" class="disabled-link;" style="opacity:0.95;" alt="Пример">
    </a>
    }
    else
    {
        @*@Model.ComputeTotalValue().ToString("# руб")*@
        <div style="position:relative;">
            <a href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery})" style="width: 70px; height: 70px;">
                <img src="~/Content/Images/spaceCart.png" width="60" height="60" style="opacity:0.95;" alt="Пример">
            </a>
            @*
            <img src="~/Content/Images/spaceCart_circle.png" style="opacity:0.95;position:absolute;top:10%;left:50%;width:30px;height:30px;" alt="Пример">
            <span style="position:absolute; width:30px; height:30px; top:10%;left:50%; text-align:center;">
                @Model.Lines.Sum(x => x.Quantity)
            </span>
                            <img src="~/Content/Images/spaceCart_circle.png" style="opacity:0.95;position:absolute;top:10%;left:50%;width:30px;height:30px;" alt="Пример">
            <span style="position:absolute; width:30px; height:30px; top:10%;left:50%; text-align:center;">
                @Model.Lines.Sum(x => x.Quantity)
            </span>
            *@
        </div>
    }
}



